$green: #4CAF50;
$red: #F44336;
$blue: #2196F3;
$gray: #9E9E9E;

.green {
    background-color: $green;
}

.red {
    background-color: $red;
}

.blue {
    background-color: $blue;
}

.gray {
    background-color: $gray;
}
