@use './color';

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    button {
        padding: 10px 20px 10px 20px;   
        font-size: 16px;
        border: 1px solid #000;
        color: #000;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
            @extend .blue;
            color: #fff;
        }
    }
  }

  $breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
    .pagination {
        margin: 15px 0 20px 0;
    
        button {
            padding:12px;
            font-size: 10px;
        }
      }
  }
  