.productList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 15px;
    border-bottom: 1px solid #ccc;

}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

    .productImage {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 75%;
            max-height: 100%;
        }
    }

    .productInfo {
        display: flex;
        flex-direction: column; 

        .fa-solid.fa-heart{
            color:red
        }

        .productName {
            font-size: 12px;
            font-weight: bold;
            margin-top: 5px;
            color: #005254;
            text-align: center;
            width: 75%;
            height:100%
        }

        .productPrice {
            color: #aaa;
            margin-top: 15px;
            font-size: 11px;
        }
    }


    button {
        position: absolute;
        top: 5px;
        right: 15px;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        border: 0px;
    }


}
$breakpoint-desktop: 1024px;
@media (min-width: $breakpoint-desktop) {
    .productList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 15px;
        border-bottom: 1px solid #ccc;
    }

    .product {
    
        button {
            right: 25%;
        }
    
    
        .productImage {
            img {
                max-width: 50%;
                max-height: 100%;
            }
        }
    
        .productInfo {
            .productName {
                font-size: 18px;
            }
    
            .productPrice {
                font-size: 15px;
            }
        }
    

    }
  }